apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: chat-bot-test
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhdhpai-rolling-demo/chat-bot-demo:64e774d2be67a38408b12079433a2785f8d8edf3@sha256:2a97d70cb7fe8968f6ebacbc5b12ecdb9e5605dcdc1e07acfd1e41091f0dd664 # use pre-built to bootstrap
          name: app-inference
